@model IEnumerable<AB_Education.Models.ClassViewModel>


@{
    ViewData["Title"] = "Index";
}

<h2>Classes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.SchoolClassStudents)
                </td>*@
                @*<td>*@
                    @*<a asp-action="Edit" asp-route-id="@item.TeacherName">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TeacherName">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TeacherName">Delete</a>*@
                @*</td>*@
            </tr>
        }
    </tbody>
</table>
